.masAccount a {
  color: #ebebf0;
  font-size: 15px;
  line-height: 3;
  font-family:
    Amazon Ember,
    Helvetica Neue,
    Roboto,
    Arial,
    sans-serif;
}

.masAccount label {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  width: 14px;
  padding: 1px;
  margin-left: 10px;
  margin-bottom: 2px;
  border: 2px;
  border-radius: 7px;
  border-color: #ebebf0;
  border-style: solid;
  vertical-align: middle;
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/color-picker-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.masAccount input {
  visibility: hidden;
}
